.convrsSet{
    margin: 5px;
}

.chat{
    width: 75%;
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.text-lt{
    text-align: left;
}

.text-rt{
    text-align: right;
}

.float-lt{
    float: left;
}

.ques{
    background: #d5f2ec;;
}

.ans{
    background: #c6ffd7;
}

.float-rt{
    float: right;
}

.clear{
    clear: both;
}

.content{
    position: relative;
    overflow: scroll;
    background: white;
    height: calc(100vh - 150px);
    display: flex;
    flex-flow: column-reverse;
    border: 1px solid #e0e0e0;
}

.content-wrp{
    position: relative;
    max-width: 960px;
    margin: auto;
    background: white;
}

.input-wrp{
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 960px;
    margin: 0px;
    padding: 10px 0px;
    height: 16px;
    background: white;
    border: 2px solid #254b6e;
}

.input-usr{
    width: 98%;
    margin: 0px;
    font-size: 16px;
    outline: none;
    border: none;
    user-select: all;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #2c2d30;
    cursor: text;
    tab-size: 8;
    -webkit-font-smoothing: antialiased;
    height: 16px;
}